
.holidayRequestListForm{
  height: 650px;
  width: 95%;
  min-width: 400px;
  margin: auto;
  background-color: rgba(255,255,255,0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  padding: 20px 15px;
  transition: 0.5s;
}

.holidayRequestListForm:hover {
  height: 660px;
  width: 100%;
}

.holidayRequestListForm *{
  font-family: 'Poppins',sans-serif;
  color: #000000;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.holidayRequestList.listHeader {
    font-style: italic;
    color: red;
}


.holidayRequestListForm ul li {
  color: #ffffff;
}

.holidayRequestListForm .approved {
    padding: 5px;
    height: 60px;
    display: block;
    background-color: green;
    text-decoration: none;
    border-radius: 3px;
    color: #ffffff;
  }


.holidayRequestListForm .denied{
    padding: 5px;
    height: 60px;
    background-color: red;
    text-decoration: none;
    border-radius: 3px;
    color: #ffffff;
 }