
.holidayRequestListForm{
  height: 590px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 20px 15px;
}
.holidayRequestListForm *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  list-style: none;
  align-items: center;
}
.holidayRequestList.listHeader {
    font-style: italic;
    color: red;

}

.holidayRequestListForm ul {
  align-items: center;
  justify-content: center;
}

.holidayRequestListForm li {
  padding-top: 10px;
}

.approved {
    display: block;
    padding: 10px;
    background-color: green;
    text-decoration: none;
    border-radius: 3px;
  }


.denied{
    display: block;
    padding: 10px;
    background-color: red;
    text-decoration: none;
    border-radius: 3px;
 }