.calendar-grid {
    display: grid;
    row-gap: 10px;
    overflow-x: scroll;
    column-gap: 20px;
    padding-bottom: 15px;
}

.days-row {
    font-size: x-small;
    opacity: 70%;
}

.line-mananger-body {
    padding: 10px;
    align-items: center;
}

.calendar-grid .confirmed {
    background-color: green;
    transition: 0.3s;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 90%;
    width: 0%;
    border-radius: 25px;
    overflow: hidden; /* Ensure content doesn't overflow during animation */
    transition: width 0.3s; /* Set transition for width property */
    animation: expandWidth 0.3s forwards;
}

@keyframes expandWidth {
    to {
        width: 100%;
    }
}

.calendar-grid .confirmed:hover {
    opacity: 70%;
}

.calendar-grid .pending {
    background-color: rgb(95, 95, 95);
    transition: 0.3s;
    width: 0%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 90%;
    border-radius: 25px;
    overflow: hidden; /* Ensure content doesn't overflow during animation */
    transition: width 0.3s; /* Set transition for width property */
    animation: expandWidth 0.3s forwards;
}

.calendar-grid .pending:hover {
    opacity: 70%;
}

.icons h3 {
    padding: 5px;
    opacity: 80%;
}

.team-member {
    padding: 5px;
    width: 200px;
    overflow-x: hidden;
}

.team-member:hover {
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.team-member:active {
    background-color: rgba(0, 0, 0, 0.349);
}

.team-member .profile-picture {
    width: 35px;
    border-radius: 100px;
    margin-right: 10px;
}

.icons{
    display: flex;
  }
  .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
    transition: 0.2s;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  .icons span:hover{
    background-color: rgba(126, 124, 124, 0.274);
  }

.calendar-box {
    margin-top: 10px;
    padding: 30px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    margin: auto;
    
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.line-mananger-body {
    justify-content: center;
    margin-top: 80px;
}

@media screen and (min-width: 1900px) {
    .calendar-box {
        height: 80vh;
    }
    .line-mananger-body {
        display: flex;
    }
}


@media screen and (min-width: 1500px) {
    .calendar-box {
        width: fit-content;
    }
    .calendar-grid {
        overflow-x: visible;
    }
}

.modalUserImage {
    height: 200px;
    width: 200px;
}

.modal *{
    align-items: center;
}

