.calendar-grid {
    display: grid;
    row-gap: 10px;
    column-gap: 20px;
}

.days-row {
    font-size: x-small;
    opacity: 70%;
}

.dates-row {
    
}

.calendar-grid .confirmed {
    background-color: green;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.calendar-grid .confirmed:hover {
    opacity: 70%;
}

.calendar-grid .pending {
    background-color: rgb(95, 95, 95);
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.calendar-grid .pending:hover {
    opacity: 70%;
}

.icons h3 {
    padding: 5px;
    opacity: 80%;
}

.team-member {

}

.team-member .profile-picture {
    width: 35px;
    border-radius: 100px;
    margin-right: 10px;
}

.icons{
    display: flex;
  }
  .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  .icons span:hover{
    background-color: rgba(126, 124, 124, 0.274);
  }

.calendar-box {
    position: absolute;
    left: 10px;
    margin-top: 150px;
    width: 1500px;
    padding: 30px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

@media screen and (min-width: 1300px) {
    .calendar-box{
        position: relative;
    }
}
