
.adminUserList {
    display: flex;
    list-style: none;
    padding: 30px;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
}

.adminUserList li {
    padding: 30px;
}

/* Media Query for Vertical List */
@media screen and (max-width: 1400px) {
    .adminUserList {
        flex-direction: column;
    }
    .adminUserList li {
        padding: 10px;
        margin-right: 0; /* Remove right margin for vertical layout */
        margin-bottom: 10px; /* Add spacing between list items in vertical layout */
    }
}





