.containers{
    position: relative;
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    align-items: center;
    justify-content: center;
}

.containers div {
    padding: 20px;
}

@media screen and (min-width: 900px) {
    #homeScreenContainers {
        display: flex;
        flex-direction: row; /* Stacks items vertically */
    }
}