/* Horizontal List */
.horizontal-list {
    display: flex;
    list-style: none;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
}

/* Media Query for Vertical List */
@media screen and (max-width: 1400px) {
    .horizontal-list {
        flex-direction: column;
    }
    .horizontal-list li {
        margin-right: 0; /* Remove right margin for vertical layout */
        margin-bottom: 10px; /* Add spacing between list items in vertical layout */
    }
}